@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  margin-top: 9px;
  height: 48px;
  border-radius: 0.25rem;
  border: 1px solid #dfe3fa;
  padding-left: 20px;
  color: #0c0e16;
  outline: none;
}

.input:focus {
  outline: 2px solid #9277ff;
}
